.home{
    background: url('images/background.png') repeat;
	height: 620px;
	width: 710px;
}

/* CSS styles for the Show/Hide functionality. */
.fa_question{
        overflow:hidden;
		cursor:pointer;
        -webkit-transition:all .500s ease;
		-moz-transition:all .500s ease;
}
.fa_question:hover{
      /*  background-color: #fcc35a; */
}
.fa_answer{
    visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}
.fa_answer_content{	/* Content that is slided down */
	position:relative;
}

/* CSS styles for the font and sizes. */
.h1 {font-family: futura, arial, sans-serif; font-size: 2em; color: #000}
.h2 {font-family: futura, arial, sans-serif; font-size: 1.75em; color: #000;}
.h3 {font-family: futura, arial, sans-serif; font-size: 1.5em; color: #000;}
.h4 {font-family: futura, arial, sans-serif; font-size: 1.3em; margin-left: 15px;}
.h5 {font-family: futura, arial, sans-serif; font-size: 1em; margin-left: 12px;}

/* CSS styles for spcing and margins*/
.move_down{
	margin-top: 20px;
	margin-left: 10px;
}

.right{
	float:right;
	width:320px;
	margin-right:20px;
}

.center {
    margin-left:auto; 
    margin-right:auto;
    width:70%;
}

            

.head{
	margin-left: -20px;
	margin-top: 	10px;
	margin-bottom: -40px;
}
            
.center {
    margin-left:auto; 
    margin-right:auto;
    width:70%;
}


.break_container {
    position:fixed;
    margin-top: 30px;
    margin-left:22px; 
    margin-right:20px;
}


.left{
	float:left;
	width:320px;
	margin-left:20px;
}

.home{
    background: url('images/background.png') repeat;
	height: 375px;
	width: 710px;
	margin-top: -30px;
}


.move_down{
	margin-top: 70px;
	margin-left:-5px; 
    margin-right:auto;
    width:70%;
}