<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
     id        = "com.byui_fin_aid.Financial_Aid"
     versionCode="10" 
     version   = "1.0.0">


 <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
 <!-- versionCode is optional and Android only -->
 <!---
     Author: John Morgan
     Date Created: 9/12/13
     Last Modified on: 9/12/13
     Information src: https://build.phonegap.com/docs/config-xml
     Notes: The website provided above has great documentattion and is very helpful
             in the setup of this file and understanding the various elements of
             cross platform configuration.
 --->


 <name>BYU-Idaho Financial Aid</name>

 <description>
     Our app gives you access to the latest information you may need to know regarding financial aid.
 </description>

 <author href="http://www.byui.edu/financial-aid" email="finaidassistant@byui.edu">
     BYU-Idaho Financial Aid Office 
 </author>



 <!--- Multi-Platform --->
 <!--- phonegap-version, with your chosen release of PhoneGap --->
 <preference name="phonegap-version" value="2.9.0" />

 <!--- orientation with possible values default, landscape, or portrait --->
 <preference name="orientation" value="default" />

 <!--- target-device with possible values handset, tablet, or universal --->
 <preference name="target-device" value="universal" />

 <!--- fullscreen with values true or false --->
 <preference name="fullscreen" value="true" />




 <!--- iOS Specific--->
 <!--- webviewbounce with values true or false --->
 <preference name="fullscreen" value="true" />

 <!--- prerendered-icon with values true or false --->
 <preference name="prerendered-icon" value="false" />

 <!--- stay-in-webview with values true or false --->
 <preference name="stay-in-webview" value="false" />

 <!--- ios-statusbarstyle with values default, black-opaque or black-translucent --->
 <preference name="ios-statusbarstyle" value="default" />

 <!--- detect-data-types with values true or false --->
 <preference name="detect-data-types" value="true" />

 <!---exit-on-suspend with values true or false --->
 <preference name="exit-on-suspend" value="true" />

 <!--- show-splash-screen-spinner with values true or false --->
 <preference name="show-splash-screen-spinner" value="true" />

 <!--- auto-hide-splash-screen with values true or false ---> 
 <preference name="auto-hide-splash-screen" value="true" />




 <!--- Icon --->
 <icon src="icon.png" />



 <!--- iOS --->
 <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
 <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
 <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
 <!-- retina iPad support: PhoneGap 2.5.0+ only -->
 <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

</widget>