/* General Styles for Body Elements */
a {
font-family: Arial; 
}

/* Deadline Container Layout */
#deadline ul {
list-style-type:none;
}

#deadline li {
float:left;
list-style-type:none;
display:inline;
}

/* Styles for DATE_CONTAINER */
.date_container {
width:273px;
height:115px;
border: 1px solid #e6e6e6; 
box-shadow: 0 0 3px #f0f0f0; 
background: #fafafa;
color: black;
font-family:Arial;
margin-left: 23px;
margin-top: 10px;
}
.date_container h1{
margin:5px;
font-size:14px;
font-family:Arial;
}
.date_container p {
margin:5px;
font-size:12px;
font-family:Arial;
color:rgb(110,110,110);
font-weight:bold;
}


.date_container hr {
margin-bottom:10px;
}
ul.date_list {
margin:5px 5px 5px 5px;
padding:2px 2px 15px 2px;
}
ul.date_list li {
margin:10;
padding:2px 5px;
list-style-type:none;
display:inline;
}
li.label {
margin-left:10px;
font-family:Arial;
font-size:11px;
float:left;
text-align:right;
width:80px;
border-right:1px solid rgb(200,200,200);
}
li.label_lg {
width:150px;
font-family:Arial;
font-size:11px;
padding-right:4px;
float:left;
text-align:right;
border-right:1px solid rgb(200,200,200);
}
li.date{
float:left;
padding-left:10px;
font-family:Arial;
font-size:14px;
font-weight:bold;
color:rgb(230,90,30);
text-align:left;
width:135px;
}
li.date_sm {
width:100px;
float:left;
padding-left:10px;
font-family:Arial;
font-size:14px;
font-weight:bold;
color:rgb(230,90,30);
text-align:left;
}

.FSD {
height:115px;
}

.FADD {
height:130px;
}

.scholarship {
height:75px;
}

.move_down{
	   margin-top: 30px;
}

